@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mulish:wght@400;700;800&display=swap");

body {
  width: 1440px;
  border: 2px solid black;
  margin: auto;
}
* {
  font-family: "Mulish", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Navigation Section starts here */
header,
main {
  max-width: 1170px;
  margin: 50px auto;
}
nav,
.menu,
.nav-bar {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}
.nav-bar {
  position: relative;
}
header .page-title {
  font-size: 36px;
}
nav ul {
  list-style: none;
}
.menu li a {
  text-decoration: none;
  color: #424247;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  position: relative;
}
.open-menu,
.close-menu {
  position: absolute;
  color: #131318;
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}
.open-menu {
  top: 10px;
  right: 20px;
}

.close-menu {
  top: 70px;
  right: 45px;
}
.red-li {
  color: #ff5400;
  font-weight: 700;
}
#check {
  display: none;
}
/* Navigation Section ends here */

/* Banner Section Starts Here */
.banner-container {
  display: block;
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url(../Images/banner.png);
  background-repeat: no-repeat;
  width: 1170px;
  height: 500px;
  border: none;
  border-radius: 16px;
  margin: 50px auto;
}
.banner-title {
  color: #fff;
  font-size: 64px;
  font-weight: 800;
  padding: 5% 0px 0px;
  text-align: center;
}
.banner-description {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding: 5% 20%;
}
.dropdown-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  margin: 50px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
}
.dropbox {
  width: 200px;
  height: 52px;
  position: relative;
}
.fa-solid {
  margin-right: 10px;
}
.btn-dropbox {
  width: 100%;
  height: 100%;
}
.fa-angle-down {
  position: absolute;
  color: black;
  top: 50%;
  right: 20px;
  transform: translate(-50%, -50%);
}
header .btn-primary,
.btn-dropbox {
  font-size: 16px;
}
button {
  background: #ff5400;
  border-style: none;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  border-radius: 8px;
  padding: 1rem 1.5rem;
}

fa-magnifying-glass {
  position: absolute;
}
.banner-container input {
  height: 52px;
  border-radius: 8px;
  color: rgba(19, 19, 24, 0.5);
  font-size: 16px;
  font-weight: 400;
  border-style: none;
  margin: 0;
  padding: 0px;
}
select {
  height: 52px;
  border-radius: 8px;
  color: rgba(19, 19, 24, 0.5);
  font-size: 16px;
  font-weight: 400;
  border-style: none;
  margin: 0;
  padding: 0px;
}
/* Banner Section ends Here */

/* Popular Tours Section Starts Here */
.popular-tours-container {
  width: 100%;
}
.popular-tours-container,
.popular-left {
  display: flex;
}

.popular-left {
  flex-direction: column;
}
.popular-right {
  width: 50%;
}
.title {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}
.description {
  width: 85%;
  color: #5a5a5d;
  margin: 10px 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.list-container {
  padding: 0px 20px;
}
.list-container li {
  margin-bottom: 15px;
}
/* Popular Tours Section ends here */

/* Choose Your Destination Section starts here */
.destination-container {
  margin: 100px auto;
}
.title-description-container {
  text-align: center;
  margin: 24px 20%;
}
.grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.img {
  position: relative;
  width: fit-content;
}
.country-name {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Choose Your Destination Section ends here */
/* Why choose us section starts here */
.first-cards-row {
  display: flex;
  gap: 24px;
}
.seconed-row {
  margin: 24px auto;
}
.sub-title {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  margin: 16px auto;
}
.card {
  padding: 32px;
  border-radius: 16px;
  width: 50%;
}
.one {
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
.two {
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
.three {
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}
/* Why choose us section ends here */

/* Deals & Discounts Section starts here */
.booking-container-right {
  position: absolute;
  width: 579px;
  height: 389px;
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
  top: 50px;
  padding: 50px;
  right: 50px;
}
.booking-container-left {
  position: absolute;
  width: 579px;
  height: 389px;
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
  top: 50px;
  padding: 50px;
  left: 50px;
}

.nav-couple-container {
  display: flex;
  gap: 24px;
}
.red-icon-container,
.tour-nav {
  display: flex;
}

.tour-package {
  margin-bottom: 24px;
}
.tour-nav {
  justify-content: flex-start;
  gap: 24px;
  margin-bottom: 26px;
}
.red-icon-container {
  align-items: center;
  gap: 8px;
}

.tour-package {
  position: relative;
  overflow: hidden;
}
.tour-package img {
  width: 100%;
  height: 100%;
}

.red-icon {
  height: 24px;
  width: 24px;
}
.price {
  color: #ff5400;
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 16px;
}
.btn-middle {
  display: flex;
  justify-content: center;
}
/* Deals & Discounts Section ends here */

/* A Simple Perfect Place To Get Lost Section starts Here */
.perfect-place-container {
  width: 100%;
  margin-top: 100px;
}
.perfect-place-container,
.perfect-left {
  display: flex;
}
.perfect-left {
  flex-direction: column;
  width: 50%;
  padding-right: 7px;
}
.video-container {
  width: 50%;
  position: relative;
  width: 100%;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.perfect-title {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
  line-height: 60px;
  width: 448px;
}
.bold-description {
  color: #131318;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  padding-right: 10%;
  text-align: justify;
}
/* A Simple Perfect Place To Get Lost Section ends Here */

/* Travel Bug Blog Section starts Here */
.our-travel-blog {
  margin-top: 100px;
}
.blog-card {
  width: 300px;
  padding: 20px;
  text-align: center;
  margin: 0px auto;
  box-shadow: 10px 5px 5px rgba(63, 63, 63, 0.281);
}
.blog-card-container {
  display: flex;
  justify-content: center;
  gap: 40px;
}
/* Travel Bug Blog Section ends Here */
/* Newsletter Section Style starts here */
.newsletter-container {
  display: flex;
  gap: 24px;
  margin: 100px auto;
}
.newsletter {
  width: 474px;
  border-radius: 16px;
  border: 1px solid #ff5400;

  padding: 40px;
}
.newsletter input {
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  color: rgba(19, 19, 24, 0.3);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 16px;
  height: 52px;
  padding-left: 20px;
  border-style: none;
}
.newsletter .btn-primary,
input {
  width: 100%;
}
.newsletter hr {
  margin: 24px auto;
}
.newsletter .sub-title {
  margin: 0px auto;
}
.img-newsletter {
  position: relative;
  width: 672px;
}
.img-newsletter img {
  width: 100%;
}
.discount {
  position: absolute;
  border-radius: 16px;
  background: #ff5400;
  width: 324px;
  height: 120px;
  transform: translate(-95%, -100%) rotate(-19.628deg);
  top: 98%;
  left: 100%;
  transform-origin: bottom left;
  text-align: center;
  margin: 10px auto;
}
.discount-sub-txt {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
}
.discount-txt {
  color: #fff;
  font-size: 32px;
  font-weight: 800;
}
/* Newsletter Section Style ends here */

/* Footer Section Style starts here */
footer {
  background-color: rgba(19, 19, 24, 0.05);
  width: 100%;
  padding: 110px 10%;
  margin: 0 auto;
}
.page-title {
  color: #131318;
  font-size: 32px;
  font-weight: 800;
}
.orange {
  color: #ff5400;
}
footer img {
  width: 40px;
}
.logo-text {
  display: flex;
  align-items: center;
  gap: 16px;
}
.center {
  justify-content: center;
}

.footer-description {
  width: 85%;
  color: #5a5a5d;
  text-align: center;
  margin: 24px auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.social {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
}
.fa-brands {
  font-size: 24px;
}
hr {
  border: 1px solid rgba(105, 105, 105, 0.171);
  width: 90%;
  margin: 50px auto;
}
.footer-line {
  color: #131318;
  font-family: Inter;
  text-align: center;
  margin-bottom: 30px;
}
/* Footer Section Style starts here */
