@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap");

* {
  font-family: "Mulish", sans-serif;
  margin: 0px;
  padding: 0px;
}
body {
  background-color: rgba(19, 19, 24, 0.05);
  width: 1440px;
  margin: 0 auto;
  border: 2px solid salmon;
  min-height: 500px;
}
.page-title {
  color: #131318;
  font-size: 36px;
  font-weight: 800;
}

.orange {
  color: #ff5400;
}

.logo-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
